@import "./css/reset.css";

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
} */

/* .navi {
  margin-top: 60px;
} */

/* .logo img {
  width: 396px;
  height: 132px;
} */

.signupBox {
  width: 640px;
  height: 664px;
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup {
  height: 524px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputSignup {
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputSignup div {
  height: 93px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputSignup label {
  font-size: 18px;
  font-weight: 700;
}

.inputSignup input {
  height: 24px;
  border-radius: 12px;
  padding: 16px 24px;
  border: none;
  background-color: #f3f4f6;
  font-size: 16px;
  font-weight: 400;
}

.inputSignup input:focus {
  outline: 1px solid #3692FF;
}

.signup_btn {
  height: 56px;
  border-radius: 40px;
  border: none;
  padding: 16px 124px;
  background-color: #9ca3af;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.easyLogin {
  height: 74px;
  border-radius: 8px;
  border: none;
  background-color: #e6f2ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  padding: 0 23px;
}

.gotoEasyLogin {
  width: 100px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.easyLogin img {
  width: 42px;
  height: 42px;
}

.gotoLogin {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #1f2937;
}

.gotoLogin a {
  text-decoration-color : #3182F6;
}

/* 모바일 */
@media all and (min-width:375px) and (max-width:767px){ 

}

/* 태블릿 */
@media all and (min-width:768px) and (max-width:1199px){ 

}

/* PC */
@media all and (min-width:1199.01px){ 

}
